.experience-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.experience-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-planner-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-planner-placeholder {
  opacity: 0;
}

.cdk-planner-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.experience-box:last-child {
  border: none;
}

.experience-list.cdk-drop-list-dragging .experience-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.experience-viewport {
  height: calc(100%); /* Adjust this value based on your requirements */
  overflow: auto;
}

#day_planner_content{
  height: calc(100% - 80px);
  overflow: hidden;
  #drag_drop_container {
    background-color: beige;
  }
  #day_planner_wrapper {
    display: block;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    .move_container {
      margin-left: 24px !important;
    }
    .planner_container {
      height: 100%;
      display: inline-block !important;
      width: 500px;
      max-width: 100%;
      vertical-align: top;
    }
    .icon-container {
      display: inline-block !important;
      background-color: orange !important;
      justify-content: center;
      align-items: center;
      width: 0px;
      margin: 20px 0;
      height: calc(100% - 98px);
      margin-top: 48px;
      span {
        position: absolute;
        top: 70%;
        mat-icon {
          font-size: 24px;
          width: 24px;
          height: 24px;
          color: #36454F;
          justify-content: center;  /* Vertically center the children */
          align-items: center;  /* Horizontally center the children */
        }
      }
    }
    .planner_content_wrapper {
      display: block;
      height: calc(100% - 60px);
      border: solid 1px #ccc;
      .drag_scrolling_container {
        overflow: auto;
        height: 100%;
      }
    }
  }
}


.cdk-virtual-scroll-content-wrapper, .cdk-virtual-scroll-content-wrapper {
  height: 100%;
}

.cdk-virtual-scroll-content-wrapper {
  height: 100% !important;
}

.cdk-drag {
  font-family: "specter", sans-serif;
}
