<div *ngIf="itineraryItemsByDay$ | async as selectedItems" id="day_planner_content">
  <div id="day_planner_wrapper" @fadeIn>
    <ng-container id="drag_drop_container" *ngIf="available$ | async as availableData; else noData" >

      <!-- My Day Plan Section wrapped in a container for selectedItems -->
      <div class="planner_container">
        <h2>My Day Plan</h2>
        <div class="planner_content_wrapper">
          <div class="drag_scrolling_container">
            <div
            cdkDropList
            #selectedExperiences="cdkDropList"
            [cdkDropListData]="selectedItems"
            [cdkDropListConnectedTo]="[availableExperiences]"
            id="MyDayPlan"
            class="experience_list"
            (cdkDropListDropped)="drop($event)">
            <div class="experience_box" *ngFor="let item of selectedItems" cdkDrag>
              {{ getDisplayName(item) }}
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="icon-container">
        <span>
          <mat-icon>swap_horiz</mat-icon>
        </span>
      </div>
      <!-- Available Experiences Section -->
      <div class="planner_container move_container">
        <h2>Available Experiences</h2>
        <div class="planner_content_wrapper">
          <div class="drag_scrolling_container">
            <div
              cdkDropList
              #availableExperiences="cdkDropList"
              [cdkDropListData]="availableData"
              [cdkDropListConnectedTo]="[selectedExperiences]"
              id="AvailableExperiences"
              class="experience_list"
              (cdkDropListDropped)="drop($event)">

              <div class="experience_box" *ngFor="let experience of availableData" cdkDrag>
                {{ experience.name }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #noData>
  <p>No experiences available.</p>
</ng-template>
