#trips-header{
  button {
    text-align: right;
  }
}

#no_trips {
  display: block;
  margin-top: 15%;
  text-align: center;
  //width: 100%;
  //background-color: orange;
}
.full-width {
  width: 100% !important;
}

.mdc-text-field {
  background-color: orange !important;
}

#trip-card {
  margin-bottom: 15px;
  background-color: #fcfbfb;
  will-change: transform, opacity;
  .mat-mdc-card-title{
    //background-color: rebeccapurple;
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 800;
  }
  &:hover {
    background-color: #f5f4f4;
    cursor: pointer
  }
  &:active {

  }
}

.grid-tile {
  padding: 0 !important;
}


.content-wrapper-left {
  display: flex;
  align-items: center;   // vertically center
  justify-content: flex-start;  // align to left
  width: 100%;

  h1 {
      margin: 0;
  }
}

.content-wrapper-right {
  display: flex;
  align-items: center;   // vertically center
  justify-content: flex-end;  // align to right
  width: 100%;

  button {
      // styles for the button if needed
  }
}


button[mat-raised-button][disabled] {
  opacity: 0 !important;
}

mat-card-actions {
  //background-color: orange;
  //float: left;
}
