<ng-container *ngIf="(loading$ | async); else content">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-template #content>
  <div *ngIf="trips$ | async as trips; else noTrips">
    <div *ngIf="trips.length > 0; else noTrips">
      <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <div class="content-wrapper-left">
          <h1>Your Disney Trips</h1>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="content-wrapper-right">
          <button mat-stroked-button color="" routerLink="/trip/planner">Start planning your new trip</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
      <div *ngIf="displayTrips" [@staggeredFadeIn]="trips.length">
      <div *ngFor="let trip of trips">
        <mat-card id="trip-card" routerLink="/trip/detail/{{trip.id}}">
          <mat-card-header>
            <mat-card-title>{{ trip.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ trip.destination.name }}</p>
            <p>{{ trip.start_date | dateRange:trip.end_date }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button routerLink="/trip/planner/{{trip.id}}">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
  </div>
</ng-template>

<ng-template #noTrips>
  <div id="no_trips">
    <h1>You don't have any trips yet</h1>
    <button mat-raised-button routerLink="/trip/planner">Start planning your new trip</button>
  </div>
</ng-template>
