<ng-container *ngIf="(loading$ | async); else content">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<ng-template #content>
  <div *ngIf="trips$ | async as trips; else noTrips">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <div class="content-wrapper-left">
          <h1>Your Disney Trips</h1>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="content-wrapper-right">
          <button mat-raised-button color="primary" routerLink="/trip/planner">Start planning your new trip</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div *ngFor="let trip of trips">
      <mat-card id="trip-card" routerLink="/trip/planner/{{trip.id}}">
        <mat-card-header>
          <mat-card-title>{{ trip.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ trip.destination.name }}</p>
          <p>{{ trip.start_date | dateRange:trip.end_date }}</p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #noTrips>
  <h1>You don't have any trips yet</h1>
  <button mat-raised-button color="primary" routerLink="/trip/planner">Start planning your new trip</button>
</ng-template>



<!--<div *ngIf="(loading$ | async)! as loadedData; else loadingData">-->
<!--   <mat-grid-list cols="2" rowHeight="50px">-->
<!--    <mat-grid-tile>-->
<!--      <div class="content-wrapper-left">-->
<!--        <h1>Your Disney Trips</h1>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->
<!--    <mat-grid-tile>-->
<!--      <div class="content-wrapper-right">-->
<!--        <button mat-raised-button color="primary" routerLink="/trip/planner">Start planning your new trip</button>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--  <div *ngFor="let trip of trips$ | async">-->
<!--    <mat-card id="trip-card" routerLink="/trip/planner/{{trip.id}}">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{ trip.title }}</mat-card-title>-->
<!--      </mat-card-header>-->

<!--      <mat-card-content>-->
<!--          <p>{{ trip.destination.name }}</p>-->
<!--&lt;!&ndash;          <p>{{ formatDateRange(trip.start_date, trip.end_date) }}</p>&ndash;&gt;-->
<!--          <p>{{ trip.start_date | dateRange:trip.end_date }}</p>-->
<!--      </mat-card-content>-->

<!--      <mat-card-actions>-->
<!--&lt;!&ndash;        <button mat-button>VIEW MORE</button>&ndash;&gt;-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #loadingData>-->
<!--  <ng-container *ngIf="(loading$ | async)! as loadedData; else loadingData">-->
<!--    <h1>You don't have any trips yet</h1>-->
<!--    <button mat-raised-button color="primary" routerLink="/trip/planner">Start planning your new trip</button>-->
<!--  </ng-container>-->
<!--  <ng-template #loading>-->
<!--    <p>Loading...</p>-->
<!--  </ng-template>-->
<!--</ng-template>-->


<!--<mat-grid-list cols="4" rowHeight="100px">-->
<!--  <mat-grid-tile-->
<!--       *ngFor="let tile of tiles"-->
<!--       [colspan]="tile.cols"-->
<!--       [rowspan]="tile.rows"-->
<!--       [style.background]="tile.color">-->
<!--    {{tile.text}}-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
