@import '../../../styles/colors.scss';

header {
  width: 100%;
  background-color: $primary;
  display: block;
  height: 60px;
  a {
    color: $black;
    text-decoration: none !important;
    font-family: "hypatia-sans-pro", sans-serif !important;
    font-size: 1.5em !important;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 18px;
    display: inline-block;
  }
}

