<!-- login.component.html -->
<mat-card>
  <mat-card-header>
    <h1>Login</h1>
  </mat-card-header>  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email" type="email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter your password" type="password">
      </mat-form-field>

      <div class="full-width center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
    <div class="registration">
      <a routerLink="/auth/register">Register</a>
    </div>
  </mat-card-content>
</mat-card>
