<mat-grid-list cols="6" rowHeight="80" gutterSize="10px">
  <!-- Locations Dropdown -->
  <mat-grid-tile colspan="2">
    <mat-form-field class="full-width">
      <mat-label>Locations</mat-label>
      <mat-select (selectionChange)="onLocationChange($event.value)">
        <mat-option *ngFor="let location of locations$ | async" [value]="location.id">{{location.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <!-- Toggle Group -->
  <mat-grid-tile colspan="2" *ngIf="locId" id="experience_types" @fadeIn>
    <mat-button-toggle-group [(ngModel)]="defaultExperienceType" (change)="onExperienceTypeChange($event)">
      <mat-button-toggle *ngFor="let type of experienceTypes" [value]="type.toLowerCase()">
        {{ type }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" *ngIf="locId" id="notes_travel_save" @fadeIn>
    <!-- Add Notes Button -->
    <button mat-stroked-button aria-label="Add Notes" (click)="onAddNotes()">
      <mat-icon>note_add</mat-icon>
      <div>Notes</div>
    </button>

    <button mat-stroked-button aria-label="Travel Events" (click)="onTravelEvents()">
      <mat-icon>directions_car</mat-icon>
      <div>Travel</div>
    </button>

    <button mat-stroked-button aria-label="Save" (click)="onSave()">
      <mat-icon>save</mat-icon>
      <div>Save</div>
    </button>
  </mat-grid-tile>


</mat-grid-list>

<app-day-planner *ngIf="locId"></app-day-planner>
