.full-width {
  width: 100% !important;
}

#notes_travel_save {
  button {
    margin-left: 15px;
    margin-bottom: 20px;
    height: 56px
  }
}

#experience_types {
  .mat-button-toggle-group {
    margin-bottom: 20px;
  }
  button {
    margin-left: 15px;
    margin-bottom: 20px;
    height: 56px
  }
}
