$white: #FCFCFC;
$black: #424242;
$charcoal: #515051;

$primary: #bad9e8;
$primary_shade1: #a3cce0;
$primary_shade2: #6ab7ff;

$secondary: #efcebf;
$secondary_shade1: #f7d8cb;
$secondary_shade2: #fce7e0;

$plain_background: #fcfbfb;
$plain_hover: #f5f4f4;
