@import "colors";

mat-card {
  max-width: 400px; /* or any other width you prefer */
  margin: 0 auto; /* Center the card */
  display: block;
  margin-top: 10%;
}

.full-width {
  width: 100%;
  display: block; /* Ensure each element takes its own line */
}


.center {
  text-align: center;
}

.cancel_registration {
  text-align: left;
  a {
    color: $black;
    text-decoration: none !important;
    font-family: "hypatia-sans-pro", sans-serif !important;
    font-size: .85em !important;
    font-weight: 400;
    margin-top: 18px;
    display: inline-block;
  }
}

.social_row {
  border-top: 1px solid $black;
  margin-top: 15px;
  padding-top: 15px;
}
