<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>

<mat-card class="day_card" @fadeIn>
  <mat-card-header class="card_header" *ngIf="currentTrip$ | async as currentTrip">
    <mat-card-title class="card_title">
      <div class="card_title_content">
        <h2>{{ currentTrip.title }}</h2>
        <span class="header_date"> {{ currentTrip.start_date | dateRange:currentTrip.end_date }}</span>
        <span class="header_day_name">{{ day | dayName }}: </span>
        <!-- Display the first location name, if available -->
        <span class="header_location_name" *ngIf="finalList.length > 0">
          <!-- You can add the logic for extracting the first location name here -->
        </span>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="card_content">
    <!-- First column -->
    <div class="items_column1">
      <ng-container *ngFor="let item of groupColumn1">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
      </ng-container>
    </div>

    <!-- Second column -->
    <div class="items_column2">
      <ng-container *ngFor="let item of groupColumn2">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>


<ng-template #itemTemplate let-item="item">
  <div class="item_group">
    <ng-container *ngIf="item.header !== 'note'">
      <h3>{{ item.header }}</h3>
      <ul>
        <li *ngFor="let activity of item.items">
          {{ getActivityName(activity) }}
        </li>
      </ul>
    </ng-container>
  </div>
</ng-template>
