@import 'colors';

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    width: 100%;
  ul {
    margin-top: 0;
  }
}

.day_card {
  margin: 20px 0;
  border: 5px $primary;
  min-height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  mat-card-header {
    background-color: $primary;
  }
  .card_header {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 0;
      font-size: 1.15em !important;
      font-weight: 600;
    }
    .header_date{
      font-size: .75em;
      font-weight: 500;
      width: 100%;
      margin-bottom: 0 !important;
      display: inline-block;
    }
    .day_name_location_wrapper {
      width: 100%;
      text-align: left;
    }
    .header_day_name {
      font-size: .75em;
      font-weight: 500;
      display: inline-block;
      //width: 100%;
      text-align: left;
    }
    .header_location_name {
      font-size: .75em;
    }
  }
  h3, h4, ul {
    margin-bottom: 16px;
  }
  h4 {
    margin-bottom: 0 !important;
    font-weight: 600;
  }
  ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 2px 0;
    }
  }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    .flex-item {
        flex: 1 1 50%; /* This splits the container into two equal columns */
        padding: 10px;
    }
}

@media (max-width: 768px) {

  .day-card {
    margin-top: 10px !important;
  }
}
