@import 'colors';

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    width: 100%;
  ul {
    margin-top: 0;
  }
}

.day_card {
  margin: 20px 0;
  border: 5px $primary;
  min-height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  mat-card-header {
    background-color: #E0EEF5;
    min-height: 85px;
  }
  .card_header {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 0;
      font-size: 1.15em !important;
      font-weight: 600;
    }
    .header_date{
      font-size: .75em;
      font-weight: 500;
      width: 100%;
      margin-bottom: 0 !important;
      display: inline-block;
    }
    .day_name_location_wrapper {
      width: 100%;
      text-align: left;
    }
    .header_day_name {
      font-size: .75em;
      font-weight: 500;
      display: inline-block;
      //width: 100%;
      text-align: left;
    }
    .header_location_name {
      font-size: .75em;
    }
  }

  .card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Optional: Add some space between the columns */
    .items_column1, .items_column2 {
      flex: 1;
      padding-left: 5px;
      .location_title {
        margin-top: 10px;
        margin-bottom: 10px;
        .location_label {
          font-size: 1.25em;
          font-weight: 700;
        }
        .location_time_range {
          font-style: italic;
          font-size: .9em;
        }
      }
      .item_activity_group {
        margin-bottom: 5px;
        h3 {
          font-size: 1.15em !important;
          font-weight: 600;
          margin-bottom: 0;
        }
        ul {
          margin-bottom: 0;
          .experience_item {
            .experience_note {
              display: block;
              font-style: italic;
            }
          }
          .meal_item {
            .meal_note {
              display: block;
              font-style: italic;
            }
          }
        }

      }
      .item_note_group {
        align-items: baseline;
        .note_label {
          font-family: "hypatia-sans-pro", sans-serif !important;
          font-size: 1.15em !important;
          font-weight: 600;
          margin-right: .5rem;
        }
      }
      .item_travel_event_group {
        .travel_event_label {
          font-family: "hypatia-sans-pro", sans-serif !important;
          font-size: 1.15em !important;
          font-weight: 600;
          margin-right: .5rem;
        }
        .travel_event_travel_to_from {
          display: block;
        }
      }
    }
  }
  h4 {
    margin-bottom: 0 !important;
    font-weight: 600;
  }
  ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 2px 0;
    }
  }
}

//.flex-container {
//    display: flex;
//    flex-wrap: wrap;
//
//    .flex-item {
//        flex: 1 1 50%; /* This splits the container into two equal columns */
//        padding: 10px;
//    }
//}

@media (max-width: 768px) {

  .day-card {
    margin-top: 10px !important;
  }
}

.travel_event_travel_note {
  font-style: italic;
}


//.two-column-list {
//  column-count: 2;
//  column-gap: 20px;
//  list-style-type: none;
//  padding: 0;
//  .two-column-list li div {
//    break-inside: avoid-column;    /* Prevents breaking divs across columns */
//    -webkit-column-break-inside: avoid; /* For older WebKit browsers */
//    page-break-inside: avoid; /* For older browsers */
//    margin-bottom: 10px;    /* Optional: Adds some space below each item */
//  }
//  //.two-column-list li {
//  //  break-inside: avoid;    /* Prevents breaking list items across columns */
//  //  -webkit-column-break-inside: avoid; /* For older WebKit browsers */
//  //  page-break-inside: avoid; /* For older browsers */
//  //  box-decoration-break: clone; /* For some visual effects when breaking is unavoidable */
//  //  margin-bottom: 10px;    /* Optional: Adds some space below each item */
//  //}
//}

.two_column_list {
    column-count: 2;        /* This creates two columns */
    column-gap: 20px;       /* This sets the gap between the columns */
  .no_break {
    break-inside: avoid-column;    /* Prevents breaking divs across columns */
    -webkit-column-break-inside: avoid; /* For older WebKit browsers */
    page-break-inside: avoid; /* For older browsers */
    margin-bottom: 10px;    /* Optional: Adds some space below each item */
  }
  .location_header {
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .sub_header {
    margin-bottom: 2px;
  }
  .item {
    //background-color: blue;
    margin-bottom: 4px;
    div {
      line-height: 1.25;
    }
  }
}



