@import 'colors';

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    width: 100%;
  ul {
    margin-top: 0;
  }
}

.day_card {
  margin: 20px 0;
  border: 5px $primary;
  min-height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  mat-card-header {
    background-color: $primary;
    min-height: 85px;
  }
  .card_header {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    h2 {
      margin-bottom: 0;
      font-size: 1.15em !important;
      font-weight: 600;
    }
    .header_date{
      font-size: .75em;
      font-weight: 500;
      width: 100%;
      margin-bottom: 0 !important;
      display: inline-block;
    }
    .day_name_location_wrapper {
      width: 100%;
      text-align: left;
    }
    .header_day_name {
      font-size: .75em;
      font-weight: 500;
      display: inline-block;
      //width: 100%;
      text-align: left;
    }
    .header_location_name {
      font-size: .75em;
    }
  }

  .card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Optional: Add some space between the columns */
    .items_column1, .items_column2 {
      flex: 1;
      padding-left: 5px;
      .location_title {
        margin-top: 10px;
        margin-bottom: 10px;
        .location_label {
          font-size: 1.25em;
          font-weight: 700;
        }
        .location_time_range {
          font-style: italic;
          font-size: .9em;
        }
        //font-size: 1.25em;
        //margin-top: 10px;
        //font-weight: 700;
      }
      .item_activity_group {
        margin-bottom: 5px;
        h3 {
          font-size: 1.15em !important;
          font-weight: 600;
          margin-bottom: 0;
        }
        ul {
          margin-bottom: 0;
          .experience_item {

          }
          .meal_item {
            .meal_notes {
              display: block;
              font-style: italic;
            }
          }
        }

      }
      .item_note_group {
        align-items: baseline;
        .note_label {
          font-family: "hypatia-sans-pro", sans-serif !important;
          font-size: 1.15em !important;
          font-weight: 600;
          margin-right: .5rem;
        }
      }
      .item_travel_event_group {
        .travel_event_label {
          font-family: "hypatia-sans-pro", sans-serif !important;
          font-size: 1.15em !important;
          font-weight: 600;
          margin-right: .5rem;
        }
        .travel_event_travel_to_from {
          display: block;
        }
      }
    }
  }
  h4 {
    margin-bottom: 0 !important;
    font-weight: 600;
  }
  ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 2px 0;
    }
  }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    .flex-item {
        flex: 1 1 50%; /* This splits the container into two equal columns */
        padding: 10px;
    }
}

@media (max-width: 768px) {

  .day-card {
    margin-top: 10px !important;
  }
}

//.grid-container {
//  display: grid;
//  grid-template-columns: repeat(2, 1fr);
//  grid-auto-flow: column;
//  max-height: 400px; // adjust this based on your needs
//}
//.grid-container {
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//  max-height: 400px; // adjust this based on your needs
//}
//
//.grid-item {
//  width: 50%; // adjust this based on your needs
//}
