<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>

<mat-card class="day_card" @fadeIn>
  <mat-card-header class="card_header" *ngIf="currentTrip$ | async as currentTrip">
    <mat-card-title class="card_title">
      <div class="card_title_content">
        <h2>{{ currentTrip.title }}</h2>
        <span *ngIf="currentTrip.start_date != currentTrip.end_date" class="header_date"> {{ currentTrip.start_date | dateRange:currentTrip.end_date }}</span>
        <span class="header_day_name">{{ day | dayName }} </span>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="card_content">
    <ul class="two_column_list">
      <ng-container *ngFor="let location of groupColumn1">
        <li class="no_break location_header" *ngIf="location.header && location.type == 'activity'">
          <div class="location_title">
            <h4 class="location_label">{{ locationDetails(location.header) }} </h4>
          </div>
        </li>
        <ng-container [ngSwitch]="location.type" *ngIf="location.items">
          <ng-container *ngSwitchCase="'activity'">
            <ng-container *ngTemplateOutlet="activityItemTemplate; context: { location: location }"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'note'">
            <ng-container *ngTemplateOutlet="noteItemTemplate; context: { item: location.items[0] }"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'travelevent'">
            <ng-container *ngTemplateOutlet="travelEventItemTemplate; context: { item: location.items[0] }"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'break'">
            <ng-container *ngTemplateOutlet="breakItemTemplate; context: { item: location.items[0] }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </mat-card-content>
</mat-card>


<ng-template #activityItemTemplate let-location="location">
  <ng-container *ngIf="location.landItems.length">
    <ng-container *ngFor="let land of location.landItems">
      <li class="no_break sub_header" *ngIf="land.name">
        <h4>{{ land.name }}</h4>
      </li>
      <ng-container *ngFor="let item of land.items">
        <ng-container [ngSwitch]="item.content_type">
          <ng-container *ngSwitchCase="'experience'">
            <ng-container *ngTemplateOutlet="experienceItemTemplate; context: { item: item }"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'note'">
            <ng-container *ngTemplateOutlet="noteItemTemplate; context: { item: item }"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'meal'">
            <ng-container *ngTemplateOutlet="mealItemTemplate; context: { item: item }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!location.landItems.length">
    <ng-container *ngFor="let item of location.items">
      <ng-container [ngSwitch]="item.content_type">
        <ng-container *ngSwitchCase="'experience'">
          <ng-container *ngTemplateOutlet="experienceItemTemplate; context: { item: item }"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'note'">
          <ng-container *ngTemplateOutlet="noteItemTemplate; context: { item: item }"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'meal'">
          <ng-container *ngTemplateOutlet="mealItemTemplate; context: { item: item }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>


<ng-template #experienceItemTemplate let-item="item">
  <li class="no_break item">
    <span>{{item.activity.name}}</span>
    <span *ngIf="item.start_time">: {{ item.start_time | militaryTo12Hr }}</span><br>
    <span>{{ item.notes}}</span>
  </li>
</ng-template>

<ng-template #noteItemTemplate let-item="item">
  <li class="no_break item">
    <div class="item_note_group">
      <span>{{ getNoteInformation(item) }}</span>
    </div>
  </li>
</ng-template>

<ng-template #mealItemTemplate let-item="item">
  <li class="no_break item">
    <div class="item_meal_group">
      <span>{{ buildMealTitle(item)}}</span><br>
      <span>{{ item.notes }}</span>
    </div>
  </li>
</ng-template>
<ng-template #travelEventItemTemplate let-item="item">
  <li class="no_break item">
    <div class="item_travel_event_group">
      <span class="travel_event_label">{{ getTravelType(item) }}: </span>
      <span class="travel_event_travel_to_from">{{ getTravelToFrom(item) }}</span><br>
      <span class="travel_event_travel_notes">{{ getNoteInformation(item) }}</span>
    </div>
  </li>
</ng-template>

<ng-template #breakItemTemplate let-item="item">
  <li class="no_break item">
    <div class="item_break_group">
      <span class="break_label"><strong>Break:</strong> {{ item.activity.location.name }}</span>
    </div>
  </li>
</ng-template>

