@use '@angular/material' as mat;
@include mat.core();

@import 'styles/colors';

// Define the theme
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  )
));

// Apply the theme to Angular Material components
@include mat.all-component-themes($custom-theme);



//$primary: $primary;
//$secondary: $secondary;



html, body { background-color: $white; height: 100%; color: $black !important; }
body { margin: 0; font-family: "specter", sans-serif; }
p, span, div {
  font-family: "specter", sans-serif !important;
}
h1, h2, h3, h4, h5 {
  font-family: "hypatia-sans-pro", sans-serif !important;
}
h1, {
  font-size: 2em !important;
  font-weight: 900;
}

h2, {
  font-size: 1.75em !important;
  font-weight: 700;
}

button {
  span {
    font-family: "specter", sans-serif;
    font-weight: 400;
  }
}

input, .mdc-text-field, .mdc-text-field:not(.mdc-text-field--disabled),
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  font-family: "specter", sans-serif !important;
    font-weight: 300 !important;
}


#notes_container, #meal_container, #travel_event_container, #break_container, #experience_container {
  .mat-mdc-form-field-flex {
    height: 100%;
  }
  .mat-mdc-form-field-infix {
    height: 100%;
  }
}

.full_width {
  width: 100%;
}
